{% extends "base.html" %}
{% load catalog_filters %}

{% load render_table from django_tables2 %}
{% load static %}

{% block title %}List of clients{% endblock title %}

{% block head_extras %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<style media="screen">
    /* Margins between form elements */
    .client-list>.filter-form>*:not(:first-child) {
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block content %}
<h3>List of clients</h3>

<div class="btn-group" role="group">
  <a class="btn btn-primary" href="/client/new" role="button">Create</a>
  <button type="button" class="btn btn-warning delete_selected_clients">Delete selected</button>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-primary" href="/client/xlsx_export"
       role="button">Download as XLSX</a>
</div>

<br/>

<div class="client-list">

    <form class="form-inline filter-form">
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ filter.form.first_name.label }}</strong>
        </label>
        {{ filter.form.first_name | set_field_class:'form-control form-control-sm' | set_field_placeholder:'Example: Doe' }}

        <label class="my_class" for="{{ field.name }}">
            <strong>{{ filter.form.last_name.label }}</strong>
        </label>
        {{ filter.form.last_name | set_field_class:'form-control form-control-sm' | set_field_placeholder:'Example: Doe' }}

        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
    </form>
    <br/>
    {% render_table table %}
</div>

<div style="display: none;">{% csrf_token %}</div>
{% endblock content %}

{% block body_extras %}
<script src="/static/js/clients_table.js"></script>
{% endblock %}
