{% extends "base.html" %}
{% load static %}
{% load catalog_filters %}

{% block title %}New client{% endblock title %}

{% block head_extras %}{% endblock %}

{% block content %}

<h3>New client</h3>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ form.first_name.label }}</strong>
        </label>
        <br/>
        {{ form.first_name | set_field_class:'form-control form-control-sm' | set_field_placeholder:'Example: John' }}
    </p>

    <p>
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ form.last_name.label }}</strong>
        </label>
        <br/>
        {{ form.last_name | set_field_class:'form-control form-control-sm' | set_field_placeholder:'Example: Doe' }}
    </p>

    <p>
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ form.birth_date.label }}</strong>
        </label>
        <br/>
        {{ form.birth_date | set_field_class:'form-control form-control-sm' | set_field_placeholder:'Example: 1970-01-01' }}
    </p>

    <p>
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ form.photo.label }}</strong>
        </label>
        <br/>
        {{ form.photo }}
    </p>

    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}, {{field.name}}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock content %}

{% block body_extras %}
{% endblock %}
