{% extends "base.html" %}

{% block title %}Client database interface{% endblock title %}

{% block head_extras %}
<style media="screen">
.individual-client {
    margin: 5px;
}

.individual-client img {
    margin-top: 10px;
}
</style>
{% endblock %}

{% block content %}
    <h3>Vote for clients</h3>
    <div class="row">
    {% for client in object_list %}
        <article class="card individual-client">
          <div class="mx-auto client_vote">
            <img
            src="/static/media/{{ client.photo.url }}"
            alt=""
            />
            <br/>
            <span>
              <span class="vote_count">{{client.points}}</span>
              <a href="#" class="vote_for_client" data-pk="{{client.id}}">
                <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
              </a>
            </span>
          </div>
        </article>
    {% empty %}
        <h4>There are no clients yet.</h4>
    {% endfor %}
  </div>
{% endblock content %}

{% block body_extras %}
    <script src="/static/js/vote_for_client.js" charset="utf-8"></script>
{% endblock %}
