{% extends "base.html" %}

{% block title %}Table output download{% endblock title %}

{% block content %}
<div style="display:none;" id="task-id"></div>
<div class="dl_url_container"></div>

{% endblock content %}

{% block body_extras %}
    <script src="/static/js/client_xlsx_export.js"></script>
{% endblock %}
