{% extends "base.html" %}

{% block title %}Customer details{% endblock title %}

{% block content %}
<h3>Customer details</h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>First name</td> <td>{{ full_client_data.first_name }}</td>
    </tr>
    <tr>
      <td>Last name</td> <td>{{ full_client_data.last_name }}</td>
    </tr>
    <tr>
      <td>Age</td> <td>{{ age }}</td>
    </tr>
    <tr>
      <td>Birth date</td> <td>{{ full_client_data.birth_date | date }}</td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>
        <a href="/static/media/{{ full_client_data.photo.url }}">
          <img
            src="/static/media/{{ full_client_data.photo.url }}"
            alt=""
            width="200px"
          />
        </a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock content %}
