{% extends "base.html" %}
{% load static %}

{% block title %}New client{% endblock title %}

{% block head_extras %}{% endblock %}

{% block content %}

<h3>New client</h3>

<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        <label class="my_class" for="{{ field.name }}">
            <strong>{{ field.label }}</strong>
        </label>
        <br/>
        {{ field }}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock content %}

{% block body_extras %}
{% endblock %}
