{% extends "base.html" %}

{% block title %}Client database interface{% endblock title %}

{% block content %}
<ul>
    <li><a href="/client/list">Catalog</a></li>
    <li><a href="/client/vote">Vote</a></li>
    <li>
        <a href="/admin">Admin panel</a> (
            Login: <code>Wis</code>, Pass: <code>Lipton_Lime</code>
        )
    </li>
    <li>Postgres parameters:
        <ul>
            <li>Database: <code>company_clients</code></li>
            <li>Login role: <code>company_clients_demo_user</code></li>
            <li>Login role password: <code>foobar</code></li>
        </ul>
    </li>
    <li><a href="/api">API</li>
</ul>
{% endblock content %}
